body{	
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:5%;	
	font-family: Arial;
	background: url(../img/background.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:50em;
}

h1, h2{
	color: #82D4EA;
}

header{
	min-width: 25em;
}

header ul{
	background: #ffffff;
	text-align: right;
}

header li a{
	text-decoration: none;
	margin-left: auto;
    margin-right: auto;
}

header li{
	display: inline-block;
	padding: 10px 10px;
	/*background: #82D4EA;
	width:5em;*/

}

header li:hover{
	background: #2980b9;
}

header li:hover a{
	color: #ffffff;
}

header #loginButton:hover{
	color: #C30808;
}

.contentSections{
	position: relative;
	padding: 3%;
  	background-color: rgba(255, 255, 255, 0.6);
  	border-radius: 5px;
  	margin-bottom: 2em;
}

.mainDiv{	
	float: left;
	width: 65%;	
	min-width: 25em;
	min-height: 60%;
	height:auto;
}

.advDiv{
	float: right;
	width: 20%;
	min-height: 60%;
	height:auto;
}

.advDiv img{
	width: 100%;
	height: 80%;
	margin-left: auto;
    margin-right: auto;    
}

footer{
	position: relative;
	background-color: rgba(255, 255, 255, 0.6);
  	border-radius: 5px;
  	margin-bottom: 2em;
  	padding: 1%;  	
	margin-top: 2em;
	width: 98%;
	float: left;
}

footer p{
	margin: 1%;
	color: white;
}

.centerDiv{
	margin: auto;    
}

#loginForm{
	width: 25%;
    height: auto;
    background-color: rgba(66, 66, 66, 0.6);
    padding: 30px;
    border:1px solid black;
    border-radius: 10px;
}

#loginForm legend{
	/*color: #ffffff;*/
	color: #82D4EA;
  	font-size: 30px;
}

#loginForm form{
	border:0px;
}

#loginForm p{
	color:red;
}

.userForm td{
	height: 1.5em;
	color: #ffffff;
}

.userForm tr td input[type="text"], .userForm tr td input[type="password"], .userForm tr td input[type="email"]{
	height: 100%;
}

.userForm tr:last-child td{
	padding-top:40px;
	
}

.userForm tr:last-child td *{
	float: right;
}

.userForm p{
	margin:0px;
	padding:0px;
}

#registerForm{
	width: 50%;
    height: auto;
    background-color: rgba(66, 66, 66, 0.6);
    padding: 30px;
    border:1px solid black;
    border-radius: 10px;
}

#profileForm{
	width: 60%;
}

#profileForm img{
	margin-left: 1em;
	width: 80px;
	height: 100px;
}

.listDiv{
	height: 100px;
	background-color: #ffffff;
	border-radius: 5px;
}

#mainWall .postBox{
	border:2px black solid;
	/*width: 90%;*/
	background-color: rgba(66, 66, 66, 0.6);
	margin-bottom:10px;
	margin-left:40px;
	padding:5px;
	color: #ffffff;
}

#mainWall .postBox textArea{
	width:90%;
	height:70px;
	margin:5%;
	margin-top:2%;
	margin-bottom:2%;
	padding:5px;
	border: 2px solid black;
	font-size:20px;
	resize: none;
}

#mainWall .postBox input{
	/*float:right;*/
}

#mainWall ul{
	list-style-type: none;
	height: 29em;
	overflow: auto;
}

#mainWall .post{
	border:2px black solid;
	width: 97%;
	background-color: rgba(66, 66, 66, 0.6);
	/*background-color: rgba(255, 255, 255, 0.6);*/
	margin-bottom:10px;
	padding:5px;
	color: #ffffff;	
}

.post b{
	color: #82D4EA;
}

.post label{
	float:right;
}

.post p{
	word-wrap: break-word;
}

#forumMain ul{
	text-align: right;
	background: #ffffff;
}

#forumMain li{
	display: inline-block;
	margin-left: 2em;
}

.forumThread{
	background-color: rgba(255, 255, 255, 0.6);
	margin-top: 1em;
	border-radius: 5px;
}

.forumThread td{
	color: #ffffff;
}

.forumThread #titleThread{
	color: #0E5468;
}

.gCbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}

.gCbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}

.gCbutton:active {
	position:relative;
	top:1px;
}

.inputDefault{
	border: 1.5px solid #82D4EA;
}

.ng-invalid.ng-dirty
{
	border: 1.5px solid red;
 
}

.ng-valid.ng-dirty
{
	border: 1.5px solid green;
}

#profileForm div{
	overflow: auto;
}