<div class="centerDiv" id="forumMain">
  <ul>
    <li>Secci&oacute;n 1</li>
    <li>Secci&oacute;n 2</li>
    <li>Secci&oacute;n 3</li>
  </ul>

  <table class="forumThread">
    <tr>
      <td colspan="3" id="titleThread">Hilo 1</td>      
    </tr>
    <tr>
      <td>Creador Usuario 1</td>
      <td>10/10/2014 15:30</td>
      <td>Comentarios: 4</td>
    </tr>
  </table>

  <table class="forumThread">
    <tr>
      <td colspan="3" id="titleThread">Hilo 2</td>      
    </tr>
    <tr>
      <td>Creador Usuario 7</td>
      <td>10/10/2014 15:30</td>
      <td>Comentarios: 2</td>
    </tr>
  </table>

  <table class="forumThread">
    <tr>
      <td colspan="3" id="titleThread">Hilo 1</td>      
    </tr>
    <tr>
      <td>Creador Usuario 2</td>
      <td>10/10/2014 15:30</td>
      <td>Comentarios: 9</td>
    </tr>
  </table>
     
</div>