<h2>Manage users</h2>
<form class="defaultform" ng-submit="gCreedCtrl.modifyUsersArray()">
	<table>
		<tr>
			<th>Username</th><th>Name</th><th>Role</th><th>Address street</th><th>Address CP</th><th>Address city</th><th>Address country</th>
		</tr>
		<tr ng-repeat="vUser in gCreedCtrl.usersArray">
			<td><input type="text" ng-model="vUser.username" readonly /></td>
			<td><input type="text" ng-model="vUser.name"/></td>
			<td><select ng-model="vUser.roleId" ng-options="o for o in [0,1,2]"></select></td>
			
			<td><input type="text" ng-model="vUser.addressStreet"/></td>
			<td><input type="text" ng-model="vUser.addressCp"/></td>
			<td><input type="text" ng-model="vUser.addressCity"/></td>
			<td>
				<select ng-model="vUser.addressCountry">
	        		<option ng-repeat="country in gCreedCtrl.countryArray">{{country.name}}</option>
	      		</select>
			</td>			
		</tr>
		<tr><td></td><td></td><td></td><td></td><td></td><td></td><td><input type="submit"/></td></tr>
	</table>
</form>