<h2>Operations</h2>
<!-- 
<form ng-submit="">
	<div id="fromUserDiv">
		<select id="selectedUserReceiver" ng-change="gCreedCtrl.getUserReceiverData()">
			<option ng-repeat="vUser in gCreedCtrl.usersArray" id="{{vUser.getId()}}">{{vUser.getUsername()}}</option>			
		</select>
		<select id="videogameReceiverSelected" ng-model="gCreedCtrl.selectedReceiverGame" ng-if="gCreedCtrl.selectedUser != null">
			<option ng-repeat="vVideogame in gCreedCtrl.selectedUser.videogames" id="{{vVideogame.getId()}}">{{vVideogame.getName()}}</option>
		</select>
	</div>
	
	<div id="localUserDiv" ng-show="gCreedCtrl.selectedReceiverGame">
		<table>
			<tr>
				<td>Price: </td>
				<td><input type="text" name="offeredPrice" ng-model="gCreedCtrl.offeredPrice"/></td>
			</tr>
			<tr>
				<td>Game to exange</td>
				<td>
					<select id="videogamesSenderSelected" ng-model="gCreedCtrl.selectedSendedGame">
						<option ng-repeat="vVideogame in gCreedCtrl.user.videogames" id="{{vVideogame.getId()}}">{{vVideogame.getName()}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input ng-show="gCreedCtrl.selectedReceiverGame && (gCreedCtrl.offeredPrice > 0 || gCreedCtrl.selectedSendedGame != null)" type="submit" value="Make offer" />
				</td>
			</tr>
		</table>		
	
	</div>
	
</form>-->