<form class="defaultform" novalidate id="profileForm">
	<h2>User profile</h2>
	<table>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td colspan="2"><img src="img/profile.jpg" alt="Foto perfil" />
		</tr>
		
		<tr>
			<td>Name</td>
			<td colspan="2"><input type="text" ng-model="gCreedCtrl.user.name" /></td>
			<td>Username</td>
			<td colspan="2"><input type="text" ng-model="gCreedCtrl.user.username" readonly /></td>
		</tr>
		
		<tr>
			<td>Password</td>
			<td colspan="2"><input type="password" ng-model="gCreedCtrl.user.password" /></td>
			<td>Rep. password</td>
			<td colspan="2"><input type="password" ng-change="gCreedCtrl.checkPassword()" ng-model="passControl" /></td>
		</tr>
		
		<tr>
			<td>E-mail</td>
			<td colspan="2"><input type="mail" ng-model="gCreedCtrl.user.mail"/></td>			
		</tr>
		
		<tr>
		<td>Address</td>
			<td colspan="2"><input type="text" ng-model="gCreedCtrl.user.addressStreet" /></td>
			<td>Cp</td>
			<td><input type="number" ng-model="gCreedCtrl.user.addressCp"></td>			
		</tr>

		<tr>
			<td>Country</td>
			<td colspan="2">
				<select ng-model="gCreedCtrl.user.addressCountry" ng-options="vCountry.name for vCountry in gCreedCtrl.countryArray track by vCountry.id">
					<!-- <option ng-repeat="country in gCreedCtrl.countryArray" ng-click="indexCountry=$index">{{country.name}}</option> -->
				</select>
			</td>
			<td>City</td>
			<td colspan="2"><input type="text" ng-model="gCreedCtrl.user.addressCity" /></td>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><input type="submit" value="Save changes" ng-click="gCreedCtrl.modifyUser()" /></td>
		</tr>

		<tr>
			<td colspan="3">
				<h3>Followers</h3>
				<div class="listDiv">					
					<ul>
						<li ng-repeat="vFollower in gCreedCtrl.followersArray">{{vFollower.getUsername()}}</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<h3>Followings</h3>
				<div class="listDiv">
					<ul>
						<li ng-repeat="vFollowing in gCreedCtrl.followingsArray">{{vFollowing.getUsername()}}</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td><input class="gCbutton" type="submit" value="Add" ng--click="appAction=10"/></td>
			<td></td>
			<td><input class="gCbutton" type="submit" value="Remove" /></td>			
		</tr>
		<tr>
			<td colspan="3">
				<h3>Videogames</h3>
				<div class="listDiv">					
					<ul>
						<li ng-repeat="vVideogame in gCreedCtrl.videogamesArray">{{vVideogame.getName()}}</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td><input class="gCbutton" type="submit" value="Add" ng--click="appAction=11" /></td>
			<td></td>
			<td><input class="gCbutton" type="submit" value="Remove" /></td>			
		</tr>
		<tr>
			<td colspan="3">
				<h3>Operations</h3>
				<div class="listDiv">					
					<ul>
						<li ng-repeat="vOperation in gCreedCtrl.operationsArray">{{vOperation}}</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td><input class="gCbutton" type="submit" value="See unconfirmed" ng--click="appAction=12" /></td>
			<td></td>
			<td><input class="gCbutton" type="submit" value="Make operation" ng--click="appAction=5" /></td>
		</tr>
	</table>
	<div class="clearBoth"></div>
</form>