<form novalidate class="centerDiv" id="profileForm">
  <h2>Perfil de usuario</h2>
  <table>
    <tr>
      <td>Usuario</td>
      <td><input type="text" /></td>
      <td rowspan="3">
        <img src="img/profile.jpg" alt="Foto perfil" />
      </td>
    </tr>
    <tr>
      <td>Contrase&ntilde;a</td>
      <td><input type="password" /></td>      
    </tr>
    <tr>
      <td>Correo</td>
      <td><input type="mail" /></td>      
    </tr>
    <tr>
      <td colspan="3">
        <div class="listDiv">
          Lista usuarios
        </div>
      </td>
    </tr>
    <tr>
      <td><input class="gCbutton" type="submit" value="A&ntilde;adir" /></td>
      <td><input class="gCbutton" type="submit" value="Buscar" /></td>
      <td><input class="gCbutton" type="submit" value="Borrar" /></td>
    </tr>
    <tr>
      <td colspan="3">
        <div class="listDiv">
          Lista juegos
        </div>
      </td>
    </tr>
    <tr>
      <td><input class="gCbutton" type="submit" value="A&ntilde;adir" /></td>
      <td><input class="gCbutton" type="submit" value="Borrar" /></td>
      <td><input class="gCbutton" type="submit" value="Intercambiar" /></td>
    </tr>
  </table>
  <div class="clearBoth"></div>
</form>