<form class="defaultform centerDiv videogameForm" name="videogameSuggestionForm" id="videogameSuggestionForm" ng-submit="gCreedCtrl.videogameSuggest()" novalidate>
	<h2>Suggest a videogame</h2>
	<table>
		<tr>
			<td>Name</td>
			<td><input type="text" id="user" required ng-model="gCreedCtrl.videogame.name" /></td>			
		</tr>
		<tr>
			<td>Developer</td>
			<td>
				<select ng-model="gCreedCtrl.videogame.developer" ng-options="vBrand.name for vBrand in gCreedCtrl.brandArray track by vBrand.id"></select>
	      	</td>
		</tr>
		<tr>
			<td>Publisher</td>
			<td>
				<select ng-model="gCreedCtrl.videogame.publisher" ng-options="vBrand.name for vBrand in gCreedCtrl.brandArray track by vBrand.id"></select>
	      	</td>
		</tr>
		<tr>
			<td>Year</td>
			<td><input type="number" id="user" ng-model="gCreedCtrl.videogame.year" required/></td>
		</tr>
		<tr>
			<td><input class="gCbutton" type="submit" value="Suggest videogame" /></td>
		</tr>
	</table>
</form>