<form class="centerDiv videogameForm" name="videogameSuggestionForm" id="videogameSuggestionForm" ng-submit="gCreedCtrl.videogameSuggest()" novalidate>
	<h2>Suggest a videogame</h2>
	<table>
		<tr>
			<td>Name</td>
			<td><input type="text" id="user" required /></td>			
		</tr>
		<tr>
			<td>Developer</td>
			<td><select></select></td>
		</tr>
		<tr>
			<td>Publisher</td>
			<td><select></select></td>
		</tr>
		<tr>
			<td>Year</td>
			<td><input type="number" id="user" required/></td>
		</tr>
		<tr>
			<td><input class="gCbutton" type="button" value="Back"
				ng-click="appAction=1"></td>
			<td><input class="gCbutton" type="submit" value="Register" ng-disabled="userEntryForm.$invalid || !passwordValid || !userValid" /></td>
		</tr>
	</table>
</form>