<div class="centerDiv" id="mainWall">
  <!--<h2>Wall</h2>-->
  <div class="postBox" ng-show="userType!=-1">
	  <textarea id="contentPostBox" maxlength="250"></textarea>
	  <input type="button" class="gCbutton" value="Submit Post" ng-click="gCreedCtrl.submitPost()"/>
  </div>
  <ul>
  	
    <li ng-repeat="post in gCreedCtrl.postArray">
    	<div class="post">
	    	<b>{{post.getUserName()}}</b> <label>{{post.getDate()}}</label><br/>
	    	<p>{{post.getContent()}}</p>
    	</div>


    </li>
  </ul>
  <div class="clearBoth"></div>
</div>